html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-image: url('https://img.freepik.com/vector-premium/patron-costuras-veterinaria-mascotas-medicamentos-alimentos_192280-278.jpg?w=2000');

}

header {
    background-color: #0678db;
    padding: 3rem;
    color: #e6fdf5;
}

header h1{
    text-align: center;
}

input{
    border-radius: 100px;
    border-style: solid;
    border-color: #0678db;
}

article{
    background-color: #e6fdf5;
    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

article h2,form{
    padding: 1rem 1rem ;
}

article h2{
    margin-bottom: 0;
    padding-bottom: 0;
}


a:link{
    color: orange;
}

a:visited{
    color: rgb(0, 204, 255);
}

a:hover {
    color: black;
}

a:active{
    color: red;
}
